.choose_us {
  display: flex;
  max-width: 1320px;
  margin: 100px auto;
  justify-content: center;
}
.choose_us__image {
  max-width: 570px;
}
.choose_us__image img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}
.choose_us__info {
  width: 550px;
}
.choose_us__info h2 {
  font-weight: 600;
  margin: 0;
  color: #262C38;
  font-size: 25px;
  padding-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.choose_us__info .heading-line {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin: 8px 0;
  max-width: 280px;
}
.choose_us__info .heading-line span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
}
.choose_us__info .heading-line .one {
  background-color: #5EB4E7;
}
.choose_us__info .heading-line .second {
  background-color: #F8C44F;
}
.choose_us__info .heading-line .three {
  background-color: #F49626;
}
.choose_us__info p {
  margin: 0;
  font-size: 14px;
}
.choose_us__info .grid > div {
  display: flex;
  gap: 60px;
}
.choose_us__info .grid_item {
  max-width: 270px;
}
.choose_us__info .grid_item__icon .fontawesome-icon {
  color: #262C38;
  font-size: 32px;
}
.choose_us__info .grid_item__info h5 {
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #262C38;
  margin-bottom: 3px;
}
.choose_us__info .grid_item__info p {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
}

.banner:hover .next-arrow {
  opacity: 1;
  visibility: visible;
}
.banner:hover .prev-arrow {
  opacity: 1;
  visibility: visible;
}
.banner_item {
  position: relative;
}
.banner_item__image {
  max-width: 100vw;
}
.banner_item__image img {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}
.banner_item__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner_item__info h3 {
  margin: 0;
  transition: none 0s ease 0s;
  line-height: 48px;
  border-width: 0px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 48px;
  white-space: nowrap;
  color: #fff;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.banner_item__info p {
  margin: 0;
  max-width: 488px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.banner_item__info a {
  text-decoration: none;
  background-color: #262C38;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.banner_item__info a:hover {
  background-color: #fff;
  color: #262C38;
}
.banner .next-arrow {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: unset;
  border-style: unset;
  border-color: unset;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .banner .next-arrow {
    margin-left: 1rem;
  }
}
.banner .next-arrow::before {
  content: "<";
  font-family: fontAwesome;
  color: #262C38;
  font-size: 35px;
  top: -5px;
  position: absolute;
  left: 4px;
  font-weight: 200;
}
.banner .prev-arrow {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: unset;
  border-style: unset;
  border-color: unset;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .banner .prev-arrow {
    margin-right: 1rem;
  }
}
.banner .prev-arrow::before {
  content: ">";
  font-family: fontAwesome;
  color: #262C38;
  font-size: 35px;
  top: -4px;
  position: absolute;
  left: 6px;
  font-weight: 200;
}
.banner .slick-slide {
  display: flex !important;
  justify-content: center;
}