.feature {
  max-width: 1320px;
  margin: 100px auto;
}
.feature > div > div {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}
.feature__image {
  max-width: 418px;
}
.feature__image img {
  width: 100%;
  height: 558px;
  object-fit: cover;
}
.feature__info {
  max-width: 550px;
}
.feature__info h2 {
  font-weight: 600;
  margin: 0;
  color: #262C38;
  font-size: 25px;
  padding-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.feature__info .heading-line {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin: 8px 0;
  max-width: 280px;
}
.feature__info .heading-line span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
}
.feature__info .heading-line .one {
  background-color: #5EB4E7;
}
.feature__info .heading-line .second {
  background-color: #F8C44F;
}
.feature__info .heading-line .three {
  background-color: #F49626;
}
.feature__info .feature_grid {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.7rem;
}
.feature__info .feature_grid__icon .fontawesome-icon {
  color: #F49626;
  font-size: 32px;
}
.feature__info .feature_grid__info h5 {
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222;
  margin-bottom: 3px;
}
.feature__info .feature_grid__info p {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
}