.global__heading {
  max-width: 860px;
  margin: auto;
  text-align: center;
}
.global__heading h2 {
  font-weight: 600;
  margin: 0;
  color: #262C38;
  font-size: 25px;
  padding-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.global__heading .heading-line {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 8px 0;
}
.global__heading .heading-line span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
}
.global__heading .heading-line .one {
  background-color: #5EB4E7;
}
.global__heading .heading-line .second {
  background-color: #F8C44F;
}
.global__heading .heading-line .three {
  background-color: #F49626;
}
.global__heading p {
  margin: 0;
}