.our__teachers {
  margin: 100px 0;
}
.our__teachers .teachers__grid {
  max-width: 1320px;
  margin: auto;
  margin-top: 100px;
}
.our__teachers .teachers__grid:hover .next-arrow {
  opacity: 1;
  visibility: visible;
}
.our__teachers .teachers__grid:hover .prev-arrow {
  opacity: 1;
  visibility: visible;
}
.our__teachers .teachers__grid > div {
  display: flex;
}
.our__teachers .teachers__grid .team_block {
  position: relative;
  width: 270px;
  height: 270px;
}
.our__teachers .teachers__grid .team_block:hover .team_block__overlay {
  opacity: 1;
  width: 270px;
  height: 100%;
}
.our__teachers .teachers__grid .team_block:hover .team-email {
  opacity: 1;
  top: 80%;
}
.our__teachers .teachers__grid .team_block__image {
  max-width: 270px;
  overflow: hidden;
}
.our__teachers .teachers__grid .team_block__image img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.our__teachers .teachers__grid .team_block__overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.45s ease;
  transition: 0.45s ease;
}
.our__teachers .teachers__grid .team_block .team-email {
  position: absolute;
  top: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Poppins";
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.our__teachers .teachers__grid .team_block__info h3 {
  margin: 0;
  color: #222;
  font-weight: 600;
  font-family: "Poppins";
  margin-top: 20px;
  font-size: 1rem;
  text-transform: capitalize;
}
.our__teachers .teachers__grid .team_block__info h5 {
  margin: 0;
  font-size: 14px;
  color: #86BC42;
  margin-top: 8px;
}
.our__teachers .teachers__grid .team_block__info p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.our__teachers .teachers__grid .team_block__info .fontawesome-icons {
  display: flex;
  gap: 8px;
}
.our__teachers .teachers__grid .team_block__info .fontawesome-icons .fontawesome-icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  font-size: 12px;
  background-color: #3b5998;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}
.our__teachers .teachers__grid .team_block__info .fontawesome-icons .fontawesome-icon:hover {
  opacity: 0.5;
}
.our__teachers .teachers__grid .next-arrow {
  background-color: #86BC42;
  width: 30px;
  height: 30px;
  border: unset;
  border-style: unset;
  border-color: unset;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .our__teachers .teachers__grid .next-arrow {
    margin-left: 1rem;
  }
}
.our__teachers .teachers__grid .next-arrow::before {
  content: "<";
  font-family: fontAwesome;
  color: #fff;
  font-size: 35px;
  top: -5px;
  position: absolute;
  left: 4px;
  font-weight: 200;
}
.our__teachers .teachers__grid .prev-arrow {
  background-color: #86BC42;
  width: 30px;
  height: 30px;
  border: unset;
  border-style: unset;
  border-color: unset;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .our__teachers .teachers__grid .prev-arrow {
    margin-right: 1rem;
  }
}
.our__teachers .teachers__grid .prev-arrow::before {
  content: ">";
  font-family: fontAwesome;
  color: #fff;
  font-size: 35px;
  top: -4px;
  position: absolute;
  left: 6px;
  font-weight: 200;
}
.our__teachers .teachers__grid .slick-slide {
  display: flex !important;
  justify-content: center;
}